* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #f8fafc;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 100px 8%;
}